* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: white;
    background-color: black;
}

.title {
    font-size: 30px;
    margin-bottom: 50px;
}

.outcome-text {
    margin: 20px auto;
    font-size: 30px;
    border: solid 3px white;
    padding: 10px;

}

header > h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-board {
    display: flex;
    font-size: 50px;
    width: auto;
    justify-content: center;
}

.score-label {
    width: fit-content;
    text-align: center;
    margin: 0 50px;
}


 .user-choices {
     display: flex;
     justify-content: center;
     align-items: space-between;
 }

 .user-choice img {
     width: 160px;
     height: 160px;
     border-radius: 20%;
     border: white solid 5px;
     margin: 50px 25px;
 }

.result {
    margin: 2rem 0;
    font-size: 50px;
}